<h1 mat-dialog-title>Novo planejamento</h1>
<div mat-dialog-content>
  <!-- <div class="d-flex align-items-center justify-content-center" *ngIf="!showForm">
    <div
      class="item d-flex justify-content-center align-items-center flex-direction-column m-1"
      (click)="option(false)"
    >
      <p>Pessoal</p>
      <mat-icon>add</mat-icon>
    </div>
    <div
      class="item d-flex justify-content-center align-items-center flex-direction-column m-1"
      (click)="option(true)"
    >
      <p>Grupo</p>
      <mat-icon>add</mat-icon>
    </div>
  </div> -->
  <form class="d-flex flex-direction-column" [formGroup]="form">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Valor total inicial</mat-label>
      <input matInput type="number" formControlName="initialValue" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data final</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateFinal" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <!-- <button mat-button color="primary" (click)="resetOptions()" *ngIf="showForm">
    <mat-icon>arrow_back</mat-icon>
  </button> -->
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    cdkFocusInitial
    (click)="savePlanning()"
  >
    Salvar
  </button>
</div>
