<h1 mat-dialog-title>Novo objetivo</h1>
<div mat-dialog-content>
  <form class="d-flex flex-wrap" [formGroup]="form">
    <mat-form-field class="m-1">
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>

    <mat-form-field class="m-1">
      <mat-label>Valor total</mat-label>
      <input matInput type="number" formControlName="totalValue" />
    </mat-form-field>

    <mat-form-field class="m-1">
      <mat-label>Valor de entrada</mat-label>
      <input matInput type="number" formControlName="entryValue" />
    </mat-form-field>

    <mat-form-field class="m-1">
      <mat-label>Data final</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateFinal" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="m-1">
      <mat-label>Descrição</mat-label>
      <textarea matInput type="text" formControlName="description"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    cdkFocusInitial
    (click)="onActionObjetive()"
  >
    Salvar
  </button>
</div>
