mat-toolbar {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
}

.toolbar-menu {
  display: flex;
  align-items: center;

  div {
    border-left: 1px solid #e0e0e0;
  }
}

.notification {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-profile {
  span {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    cursor: pointer;
  }
}
