mat-drawer-container {
  height: 100%;

  mat-drawer {
    width: 250px;
    background-color: #0f1835;
  }
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

main {
  padding: 1.5rem;
  height: calc(100% - 3rem - 64px);
  background-color: #f5f6fa;
}
